h1{
    font-size:50px;
    color: $blue;
    margin: 30px auto;
}
.students-filter{
    select{
        width: 150px;
        text-align: center;
        padding: 10px;
        color: $blue;
        border-radius: 10px;
        outline: none;
    }
}
.students{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #e9ebf1;
    .student{
        flex-basis: 45%;
        margin: 50px 20px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        img{
            height: 150px;
            margin-bottom: 10px;
        }
        .info{
            color: $blue;
            h3{
                font-size:20px;
            }
            h4{
                font-size:15px;
                margin: 10px auto;
            }
            p{
                font-size:15px;
            }
        }
    }
}